<div class="anonymity-animation">
	<img src="{{ 'assets/images/cloud1.png' | prepend: site.baseurl  }}" class="cloud cloud-1" />
	<img src="{{ 'assets/images/cloud2.png' | prepend: site.baseurl  }}" class="cloud cloud-2" />
	<img src="{{ 'assets/images/cloud3.png' | prepend: site.baseurl  }}" class="cloud cloud-3" />
	<img src="{{ 'assets/images/cloud4.png' | prepend: site.baseurl  }}" class="cloud cloud-4" />
	<img src="{{ 'assets/images/cloud5.png' | prepend: site.baseurl  }}" class="cloud cloud-5" />
</div>