<!-- Begin MailChimp Signup Form -->
<!--<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">-->
<div id="newsletter-form" class="newsletter-form">
	<form action="//peeriodproject.us9.list-manage.com/subscribe/post?u=a0d7814c26a920a13272bff6d&amp;id=5d74ee17e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" role="form" novalidate>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_a0d7814c26a920a13272bff6d_5d74ee17e0" tabindex="-1" value=""></div>
			<div class="input-group">
				<label for="mce-EMAIL" class="sr-only">Subscribe to our mailing list</label>
				<input type="email" value="" name="EMAIL" class="form-control  email" id="mce-EMAIL" placeholder="Enter Email Address..." required>
				<span class="input-group-btn">
					<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Keep me posted</button>
				</span>
			</div>
	</form>
</div>
<!--End mc_embed_signup-->